<nav class="bg-background border-border hidden h-full w-[260px] flex-col border-r pt-3 lg:flex">
  <div class="mx-4 mb-3 flex h-9 items-center gap-2">
    <span class="bg-primary flex items-center justify-center rounded-sm p-2">
      <i class="pi pi-bolt text-primary-foreground"></i>
    </span>
    <b class="text-foreground text-sm font-bold">Angular Tailwind</b>
  </div>
  <div class="flex-1 overflow-auto px-3">
    <app-menu />
  </div>
  <div class="border-border border-t p-2">
    <app-nav-user />
  </div>
</nav>
